<section class="hero is-success is-fullheight">
  <div class="hero-content">
    <div class="container">
      <div class="avatar">
        <img id="avatar" src="images/kev.jpg" alt="avatar" />
      </div>
      <h1 class="title">Kevin Denver</h1>
      <h2 class="subtitle">I LIKE TOAST AND PROGRAMMING!</h2>
    </div>
  </div>
</section>

<section class="hero is-medium is-primary is-bold is-left">
  <div class="hero-content">
    <div class="container">
      <div class="content">
        <h2 class="subtitle">Hello, my name is Kevin and I'm a London based Senior Software Engineer at Zuhlke Engineering Ltd.</h2>
        <p><a href="http://www.zuehlke.com/" class="button is-zuhlke">Learn more about Zuhlke Engineering Ltd.</a></p>
        <h3>Here are some of my projects:</h3>
        <p class="title is-4">DROPWIZARD-AUTH-JWT</p>
        <p>
          An implementation of the JSON Web Token (JWT) draft-ietf-oauth-json-web-token-20 for dropwizard 7.0. JSON Web Token (JWT)
          is a compact URL-safe means of representing claims to be transferred between two parties. The claims in a JWT are
          encoded as a JSON object that is digitally signed using JSON Web Signature (JWS).
        </p>
        <p><a class="button is-success" href="https://github.com/ToastShaman/dropwizard-auth-jwt">dropwizard-auth-jwt</a></p>
      </div>
    </div>
  </div>
</section>

<section class="hero is-left">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">ngEurope 2014</h1>
      <h2 class="subtitle">Noteworthy News from ngEurope</h2>
      <p>A couple of weeks ago I attended ngEurope in Paris, a conference about the present and future of AngularJS...</p>
      <p class="read-more"><a class="button is-success" ng-click="welcome.goto('/ngeurope-2014')">Read More</a></p>
    </div>
  </div>
</section>